<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.wlu.g4a2" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>G4A2</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="ranadeep-about.html" />
    <content src="ranadeep-play.html" />
    <content src="ranadeep-work.html" />
    <content src="lee-about.html" />
    <content src="lee-play.html" />
    <content src="lee-work.html" />
    <content src="ryan-about.html" />
    <content src="ryan-play.html" />
    <content src="ryan-work.html" />
    <content src="bruno-about.html" />
    <content src="bruno-play.html" />
    <content src="bruno-work.html" />
	<content src="group.html" />
    <content src="index.html" />
    <access origin="*" />
</widget>
