html, body {
    height: 100% !important;
}

.global-wrapper {
    position: relative;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.sticky-footer {
    min-width: 100%;
    position: relative;
    margin: 0 auto 0 auto;
    z-index: 5;
}

.header-self-image-thumbnail {
    height: 5%;
    width: 5%;
    margin: auto;
    position: relative;
    bottom: 0;
    top: 0;
}

.group-members-list-item {
    cursor: pointer;
}

.group-members-list-item-thumbnail-left-centered {
    /* Absolute centered with left justified. Square images will auto scale but this is for non-square images. */
    margin: auto; 
    position: absolute; 
    top: 0; 
    left:0; 
    bottom:0; 
    right:-1;
}

.centered {
    text-align: center;
}
.nav-glyphish-example .ui-btn .ui-btn-inner {
    padding-top: 40px !important;
}
.nav-glyphish-example .ui-btn .ui-icon {
    width: 30px!important;
    height: 30px!important;
    margin-left: -15px !important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
.about .ui-icon {
    background: url(css/glyphish-icons/icons/111-user.png) 50% 50% no-repeat;
    background-size: 24px 22px;
}
.work .ui-icon {
    background: url(css/glyphish-icons/icons/37-suitcase.png) 50% 50% no-repeat;
    background-size: 24px 16px;
}
.play .ui-icon {
    background: url(css/glyphish-icons/icons/63-runner.png) 50% 50% no-repeat;
    background-size: 12px 26px;
}
