<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.wlu.g4p5" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>G4P5</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author href="http://wlu.ca">
        CP317 - Group 4
    </author>
    <content src="index.html" />
    <content src="login-or-register.html" />
    <content src="search-results.html" />
    <access origin="*" />
</widget>
